body {
    font-family: 'Ubuntu', sans-serif;
}

.tetromino {
    border-radius: 6px;
}

.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;

}

.grid div {
    width: 20px;
    height: 20px;
    /* border-radius: 8px; */
}

.mini-grid {
    margin-left: 48px;
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    background-color: #E5E5E5;
    border-radius: 6px;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

.button {
    background-color: blue;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    width: 80px;
    color: white;
    cursor: pointer;
    text-align: center;
}